.App {
  text-align: center;
  position: relative;
  background-image: url("./img/sfondoSerieA.jpg");
  background-position: top;
  background-size: auto;
}

.logo {
  height: 30px;
}

.NavBar {
  background-color: rgba(255, 255, 255, 0.2);
  font-weight: bold;
  display: block;
  text-decoration: none;
  color: black;
}

a {
  text-decoration: none;
  color: black;
  font-size: 30;
}

.bodyData {
  display: flex;
}

.verticalMenu {
  display: block;
  float: left;
  background-color: rgba(255, 255, 255, 0.2);
  list-style-type: none;
  font-weight: bold;
  height: 100%;
  min-height: 100vh;
}

.showDataBox {
  display: flex;
}

.teamInfo {
  background-color: rgba(255, 255, 255, 0.2);
  color: black;
  border: 1px solid black;
  padding: 14px;
  font-size: 15px;
  font-weight: bold;
  text-align: center;
}

.sectionColumn {
  margin: 10px;
}

.sectionColumn button {
  background-color: rgba(255, 255, 255, 0.2);
  font-weight: bold;
}

.sectionColumn button:hover {
  background-color: white;
}

.grid-item {
  background-color: rgba(255, 255, 255, 0.2);
  color: black;
  border: 1px solid black;
  padding: 14px;
  font-size: 15px;
  font-weight: bold;
  text-align: center;
}

.grid-item:hover {
  background-color: white;

}





.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  min-height: 100vh;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}